@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h5>EmployeeMVC Project</h5>
    <img class="Profile-image-1" src="~/Assets/empImage.jpg" px="1080" height="500cm" width="1000cm" />
</div>
